:root {
  --o1: rgb(82, 182, 154);
  --o2: rgb(118, 200, 147);
  --o3: rgb(153, 217, 140);
  --o4: rgb(181, 228, 140);
  --o5: rgb(217, 237, 146);
  --prp1: rgb(52, 160, 164);
  --prp2: rgb(22, 138, 173);
  --prp3: rgb(26, 117, 159);
  --prp4: rgb(30, 96, 145);
  --prp5: rgb(24, 78, 119);
}

#submit,
#lock-in,
#clear {
  background-color: var(--prp3);
  margin: 2px;
  margin-top: 6px;
}

#submit:hover,
#lock-in:hover,
#clear:hover {
  background-color: var(--prp1);
}

#submit:active,
#lock-in:active,
#clear:active {
  background-color: var(--prp5);
}

body {
  padding: 8px;
}

.my-element {
  padding-bottom: 100%;
}

#title-box,
#title-p,
#results-output {
  background-color: var(--prp5);
  background-image: linear-gradient(135deg, var(--prp5), var(--prp1));
}

#title {
  text-align: center;
  /* background-color: var(--prp5); */
  color: rgb(240, 236, 236);
  border: none;
}

#dynamic-list {
  color: white;
  text-align: left;
  font-weight: 700;
}

#name-box {
  background-color: var(--o1);
  margin-left: 1rem;
  /* box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5); */
}

#trip-details {
  color: white;
  font-size: 30px;
  font-weight: 700;
}

#field-a-box,
#field-b-box {
  background-color: var(--o2);
  /* box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5); */
}

p {
  background-color: var(--prp5);
  color: rgb(240, 236, 236);
}
#memory-container,
#memory-box {
  background-color: var(--prp1);
}

#memoryp {
  background-color: var(--prp1);
  color: rgb(240, 236, 236);
}

#last-searched-box {
  background-color: var(--o3);
}

#empty1 {
  background-image: linear-gradient(90deg, var(--o1), var(--o2));
}

#empty2 {
  background-image: linear-gradient(to right, var(--o2), var(--o2));
}

@media screen and (max-width: 1279px) {
  .my-element {
    background: var(--prp5);
  }
}

@media screen and (min-width: 768px) {
  .my-element {
    background: var(--prp5);
  }
}
#map-container {
  height: 600px;
  width: 600px;
  border: 5px solid black;
  color: white;
}

/* @media screen and (min-width: 768px) {
  .my-element {
    background: orange;
  }
} */
