* {
  /* border-style: solid; */
  /* border-style: rgb(195, 0, 255); */
  /* border-style: 1px; */
  background: rgb(157, 78, 221);
}
:root {
  --o1: rgb(255, 109, 0);
  --o2: rgb(255, 121, 0);
  --o3: rgb(255, 133, 0);
  --o4: rgb(255, 145, 0);
  --o5: rgb(255, 158, 0);
  --prp1: rgb(36, 0, 70);
  --prp2: rgb(60, 9, 108);
  --prp3: rgb(90, 24, 154);
  --prp4: rgb(123, 44, 191);
  --prp5: rgb(157, 78, 221);
}

#title-box {
  background-color: var(--prp5);
}

#title {
  text-align: center;
  background-color: var(--prp5);
  color: white;
  border: none;
}

#title-p {
  background-color: var(--prp5);
}
#name-box {
  background-color: var(--o1);
  margin-left: 40px;
}

#name {
}

#field-a-box {
  background-color: var(--o5);
}

#origin-field {
}

#field-b-box {
  background-color: var(--o5);
}

#output-field {
}

#results-output {
  background-color: var(--prp5);
}
p {
  background-color: var(--prp5);
}
#memory-container {
  background-color: var(--prp1);
}

#memory-box {
  background-color: var(--prp1);
}
#memoryp {
  background-color: var(--prp1);
  color: white;
}

#last-searched-box {
  background-color: var(--o3);
}
